# Global ignores
*.make

# Mac ignores
*.xcodeproj
*.plist
.DS_Store
*.xcconfig
*.app
Makefile

# PC Ignores
*.sln
*.vcxproj
*.obj
*.vs
!bin/data
icon.rc
*.vcxproj.filters
*.vcxproj.user
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
![Bb]in/
[Bb]in/*
![Bb]in/data
[Oo]bj/
[Ll]og/
.suo
.user